# OS
.DS_Store

# Env
.env
.env.*.local
.env.local

# Node
node_modules/
npm-debug.log*
yarn-error.log*
.pnpm-store/

# Next.js (frontend için önemli)
.next/
out/
.vercel/

# Build/coverage
dist/
build/
coverage/
